.wrapper {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    width: 100%;
    height: auto;
}

.logoWrapper {
    margin-left: 5%;
    margin-top: 2% 
}
.logoWrapper> img {
    scale: 1;
}